# ======================
# Frontend (Vite/React)
# ======================
node_modules/
dist/
dist-ssr/
.env
.env.prod

# ======================
# Backend (Spring Boot)
# ======================
target/
*.jar
*.war
*.class

# ======================
# Logs
# ======================
*.log

# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml
.DS_Store
